body {
  background-image: url("bg.jpg");
}
.App {
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: rgba(22, 18, 18, 0.333);
  line-height: 50px;
}
.nav-link {
  color: rgb(255, 255, 255);
}
.navbar-toggler {
  color: rgb(255, 255, 255);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.link {
  color: black;
  text-decoration: none;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgba(0, 0, 0, 0.9);
}
a:hover {
  color: rgb(64, 60, 60);
}
a.linki {
  color: white;
  text-decoration: none;
}

.AboutUs {
  text-align: center;
  width: 100%;
  height: 50px;
  color: white;
  text-decoration: none;
  margin-top: 4rem;
}

.Footer {
  text-align: center;
  width: 100%;
  height: 50px;
  color: white;
  text-decoration: none;
  margin-top: 10rem;
}

.Services {
  width: 100%;
  height: 50px;
  color: rgb(238, 230, 230);
  text-decoration: none;
  margin-top: 1rem;
  text-align: center;
}
.Reservation {
  border-radius: 15px;
  padding: 20px;
  background-color: rgba(250, 250, 250, 0.666);
  color: rgb(119, 108, 108);
}
.Garage {
  border-radius: 15px;
  padding: 20px;
  background-color: rgba(250, 250, 250, 0.666);
  color: rgb(139, 133, 133);
}
